<button class="floating-back-button" (click)="goBack()"> <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#ffffff"><path d="M560.67-240 320-480.67l240.67-240.66L608-674 414.67-480.67 608-287.33 560.67-240Z"/></svg></button>
<app-sidebar-nav></app-sidebar-nav>

<div class="container">
  <div class="header-row">
    <h2 class="title">Invoice</h2>

    <div class="button-group">
      <button class="download-button"
              (click)="downloadExcel()"
              [disabled]="!salesOrderList.length">
        Download as Excel
      </button>

      <button class="download-button"
              (click)="downloadSelectedInvoice()"
              [disabled]="!selectedRow">
        Download Selected Invoice
      </button>
    </div>
  </div>


  <app-filter-sort
  [data]="salesOrderList"
  [fieldKeys]="fieldKeys"
  (filteredSorted)="filteredList = $event">
</app-filter-sort>

  <div *ngIf="loading">Loading...</div>
  <div *ngIf="error" class="error">{{ error }}</div>

  <div class="table-wrapper">
    <table *ngIf="filteredList.length" class="styled-table">
      <thead>
        <tr>
          <th>Select</th>
          <th *ngFor="let key of fieldKeys">{{ key }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filteredList">
          <td>
            <input
              type="radio"
              name="selectedRow"
              (change)="selectRow(item)"
              [checked]="selectedRow === item"
            />
          </td>
          <td *ngFor="let key of fieldKeys">{{ item[key] || 'N/A' }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="!loading && !filteredList.length && !error">
    No data available.
  </div>
</div>
