<app-sidebar-nav></app-sidebar-nav>

<div class="container">
  <div class="header-row">
  <h2 class="title">Pay Slip</h2>
  <button class="download-button1" (click)="downloadExcel()" [disabled]="!paySlipList.length">Download as Excel</button>
  <button class="download-button2" (click)="viewPDF()">View Invoice PDF</button>
  <!-- <button class="download-button" (click)="downloadPDF()">Download Invoice PDF</button> -->
</div>


<app-filter-sort
  [data]="paySlipList"
  [fieldKeys]="fieldKeys"
  (filteredSorted)="filteredList = $event">
</app-filter-sort>

  <div *ngIf="loading">Loading...</div>
  <div *ngIf="error" class="error">{{ error }}</div>

  <div class="table-wrapper">
  <table *ngIf="filteredList.length" class="styled-table">

    <thead>
      <tr>
        <th *ngFor="let key of fieldKeys">{{ key }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filteredList">
        <td *ngFor="let key of fieldKeys">{{ item[key] || 'N/A' }}</td>
      </tr>
    </tbody>
  </table>
  </div>
  <div *ngIf="!loading && !filteredList.length && !error">
    No data available.
  </div>
</div>
