<!-- <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    </head>
    <body>
        <nav class="nav">
            <ul class="nav__list">
                    <a href="accounts" class="nav__link">
                    <i class="ri-account-box-line"></i>
                    <span class="nav__name">Accounts</span>
                </a>

                <a href="customer-dashboard" class="nav__link active-link">
                    <i class="ri-file-list-3-line"></i>
                    <span class="nav__name">Customer Dashboard</span>
                </a>

                <a href="financial-sheet" class="nav__link">
                    <i class="ri-wallet-2-line"></i>
                    <span class="nav__name">Financial Sheet</span>
                </a>

                <a href="logout" class="nav__link">
                    <i class="ri-logout-box-line"></i>
                    <span class="nav__name">Logout</span>
                </a>
            </ul>

            <div class="nav__circle-1"></div>
            <div class="nav__circle-2"></div>

            <div class="nav__square-1"></div>
            <div class="nav__square-2"></div>
        </nav>

        <main>
            <h2>Customer Dashboard</h2>
              <div class="card__container">
    
    <article class="card__article" >
      <img src="https://i.pinimg.com/736x/97/b1/62/97b16238a4a8a2b3d509323ba14b96c9.jpg" alt="Vendor Login" class="card__img">
      <div class="card__data">
        <span class="card__description">CUSTOMER PORTAL</span>
        <h2 class="card__title">Login</h2>
      </div>
    </article>

    <article class="card__article" >
      <img src="https://i.pinimg.com/736x/f1/c9/27/f1c9279ee0eff3238e92f3e77d33325a.jpg" alt="Vendor Login" class="card__img">
      <div class="card__data">
        <span class="card__description">VENDOR PORTAL</span>
        <h2 class="card__title">Login</h2>
      </div>
    </article>

    <article class="card__article" >
      <img src= "https://i.pinimg.com/736x/f5/b4/da/f5b4dada0a46364a6c35f08a37e43479.jpg" alt="Employee Login" class="card__img">
      <div class="card__data">
        <span class="card__description">EMPLOYEE PORTAL</span>
        <h2 class="card__title">Login</h2>

      </div>
    </article>

        </div>
        </main>
    </body>
</html> -->

<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    </head>
    <body>

    <h2 class ="title">Customer Dashboard</h2>
    <div class="card__container">
        
    <article class="card__article" >
      <img src="https://i.pinimg.com/736x/fb/f4/3b/fbf43b84a48c6e129345fff54df3e7e0.jpg" alt="Vendor Login" class="card__img">
      <div class="card__data">
        <span class="card__description">INQUIRY DATA</span>
        <!-- <h2 class="card__title">Login</h2> -->
      </div>
    </article>

    <article class="card__article" >
      <img src="https://i.pinimg.com/736x/9e/20/bc/9e20bc14c9ad1d5138a3bbdbae57b143.jpg" alt="Vendor Login" class="card__img">
      <div class="card__data">
        <span class="card__description">SALES ORDER DATA</span>
        <!-- <h2 class="card__title">Login</h2> -->
      </div>
    </article>

    <article class="card__article" >
      <img src= "https://i.pinimg.com/736x/48/00/07/4800076f2e9ff74f5b1554f30bbf6815.jpg" alt="Employee Login" class="card__img">
      <div class="card__data">
        <span class="card__description">LIST OF DELIVERIES</span>
        <!-- <h2 class="card__title">Login</h2> -->

      </div>
    </article>
    </div>
            <nav class="nav">
            <ul class="nav__list">
                    <a href="accounts" class="nav__link">
                    <i class="ri-account-box-line"></i>
                    <span class="nav__name">Accounts</span>
                </a>

                <a href="customer-dashboard" class="nav__link active-link">
                    <i class="ri-file-list-3-line"></i>
                    <span class="nav__name">Customer Dashboard</span>
                </a>

                <a href="financial-sheet" class="nav__link">
                    <i class="ri-wallet-2-line"></i>
                    <span class="nav__name">Financial Sheet</span>
                </a>

                <a href="logout" class="nav__link">
                    <i class="ri-logout-box-line"></i>
                    <span class="nav__name">Logout</span>
                </a>
            </ul>

            <div class="nav__circle-1"></div>
            <div class="nav__circle-2"></div>

            <div class="nav__square-1"></div>
            <div class="nav__square-2"></div>
        </nav>
    </body>
</html>